body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff9999;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ff6565;
}

#para1 {
  font-family: tahoma;
  font-size: 16px;
  color: #ff9999;
  float: left;  
}

#heading {
  font-family: tahoma;
  font-size: 24px;
  color: #ff9999;
  text-align: center;
}
#cupcakeimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}